<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  

  <nav class="sidebar-nav">
    <!-- Picture -->
    <div class="sidebar-personal-info">
          <a href="https://gravatar.com/{{ site.author.gravatar }}">
            <img src="https://www.gravatar.com/avatar/{{ site.author.gravatar }}?s=350" title="View on Gravatar" alt="View on Gravatar" class="avatarimg" align='center' />
          </a>
    </div>
    
    
    <!-- Author Information -->
    <div class="sidebar-item">
    <p>{{ site.description }}</p>
    

    {% if site.author.contact %}
    {% assign len = site.author.contact | size %}
    {% assign current_index = 0 %}

      <!-- Icon & contact path -->
      <p> Follow me  :  
      {% for contact in site.author.contact %}
      {% assign iconname = contact[0] %}
      {% if contact[0] == 'email' %}
      {% assign iconname = 'envelope' %}
      {% endif %}
      <a href="{{ contact[1] }}">
        <i class="fa fa-{{ iconname }}" aria-hidden="true"></i>
      </a>
      {% assign current_index = current_index | plus: 1 %}
      {% if current_index != len %}|{% endif %}
      {% endfor %}
      </p>
    </div>
    {% endif %}

    <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}/">Home</a>

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
    {% if node.title != null %}
    {% if node.layout == "page" %}
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title
      }}</a>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% comment %}
    gihub project 추가
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    {% endcomment %}
  </nav>
  <div>
    <div class="sidebar-nav-item">Category</div>
    <nav class="content-ul">
      {% for category in site.categories %}
      <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}"
         class="sidebar-nav-item pl-3rem">
                            <span class="name">
                                {{ category | first }}
                            </span>
        <span class="badge">{{ category | last | size }}</span>
      </a>
      {% endfor %}
    </nav>
  </div>
  
  <!-- Todo 나중에 Tag가 모여있는 개별 page 만들기 -->
  <div>
    <div class="sidebar-nav-item">Tags</div>
    <div class="tags-cloud">
      <div>
        {% assign first = site.tags.first %}
        {% assign max = first[1].size %}
        {% assign min = max %}
        {% for tag in site.tags offset:1 %}
        {% if tag[1].size > max %}
        {% assign max = tag[1].size %}
        {% elsif tag[1].size < min %}
        {% assign min = tag[1].size %}
        {% endif %}
        {% endfor %}

        {% if max == min %}
        {% assign diff = 1 %}
        {% else %}
        {% assign diff = max | minus: min %}
        {% endif %}

        {% for tag in site.tags %}
        {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
        {% assign base = temp | divided_by: 4 %}
        {% assign remain = temp | modulo: 4 %}
        {% if remain == 0 %}
        {% assign size = base | plus: 9 %}
        {% elsif remain == 1 or remain == 2 %}
        {% assign size = base | plus: 9 | append: '.5' %}
        {% else %}
        {% assign size = base | plus: 10 %}
        {% endif %}
        {% if remain == 0 or remain == 1 %}
        {% assign color = 5 | plus: base %}
        {% else %}
        {% assign color = 6 | plus: base %}
        {% endif %}

        {% assign arr = "a, b, c, d, e, f" | split: ", " %}
        {% if color > 9 %}
        {% assign index = color | minus: 10 %}
        {% assign color = arr[index] %}
        {% endif %}
        <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag[0] }}" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved. 
    </p>
    <p>
    Powered by <a href="http://jekyllrb.com">jekyll</a>
    </p>
  </div>
</div>

<script>
  window.addEventListener('hashchange', function(){
    location.reload();
  });
</script>
